<%= turbo_frame_tag :details do %>
  <h1 class="text-2xl font-semibold mb-2">
    <%= @movie.title %>
  </h1>

  <div class="flex gap-x-4 text-gray-700 mb-4">
    <p><%= @movie.director %></p>
    <p><%= @movie.length %></p>
    <p><%= @movie.year %></p>
    <p><%= @movie.genre %></p>
  </div>

  <div class="mb-4">
    Rating: <%= @movie.rating %>
  </div>

  <p>
    <%= @movie.summary %>
  </p>
<% end %>
