<% if type == :success %>
  <div class="flex items-center gap-x-1 m-4 px-4 py-2 bg-green-700/75 rounded text-white text-sm toast">
    <%= inline_svg_tag("check.svg", class: "w-6 h-6 relative top-px") %>
    <span><%= message %></span>
  </div>
<% elsif type == :error %>
  <div class="flex items-center gap-x-1 m-4 px-4 py-2 bg-red-700/75 rounded text-white text-sm toast">
    <%= inline_svg_tag("warning.svg", class: "w-6 h-6 relative top-px") %>
    <span><%= message %></span>
  </div>
<% else %>
  <div class="m-4 px-4 py-2 bg-black/75 rounded text-white text-sm toast">
    <%= message %>
  </div>
<% end %>
